// body #bg-clip {
//   height: 100%;
//   width: 100%;
//   background-color: #ff85a1;
//   clip-path: polygon(0 1%, 100% 100%, 76% 100%, 0% 100%);
//   position: absolute;
//   z-index: 0;
// }


#main.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .home-main-heading {
    line-height: 1.5;
    height: 100%;
    padding-left: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);

    .home-main-heading-text {
      color: #3f3d56;
      font-family: 'Montserrat', sans-serif;
      position: relative;
      font-size: 5rem;
      font-weight: 500;
      animation: popupDelay 0.8s ease-in 0.5s;
      animation-fill-mode: backwards;

      .jollchef-text {
        color: #516956;
      }
    }

    .home-main-heading--text-2 {
      font-size: 2.5rem;
      font-weight: 400;
      color: #3f3d56;
      font-family: 'Montserrat', sans-serif;
      animation: popupDelay 1s ease-in 1s;
      animation-fill-mode: backwards;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 1.8rem;
        left: -5rem;
        width: 20%;
        border: 1px solid #3f3d56;
        animation: popupDelay 0.5s ease-out 1.5s;
        animation-fill-mode: backwards;
      }

      &::after {
        content: '';
        position: absolute;
        top: 1.8rem;
        right: -5rem;
        width: 20%;
        border: 1px solid #3f3d56;
        animation: popupDelay 0.5s ease-out 1.5s;
        animation-fill-mode: backwards;
      }
    }
  }

  .home-heading-logo {
    height: 100%;
    padding-right: 5rem;
    animation: popupDelay 1.2s ease-in 1.5s;
    animation-fill-mode: backwards;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .home-heading-logo img {
    display: inline-block;
    width: 80%;
  }
}

@keyframes popupDelay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
