@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Segoe UI', 'Roboto', 'sans-serif';
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.thead-bg {
  /* background-color: #438a5e;
  background-color: #8ebfc7;
  background-color: #004954;
  background-color: #053d46; */
  background-color: #061323;
  color: #fff;
  border-color: #000;
}

.td-qty {
  text-align: center;
}

.qty-value {
  width: 2rem;
}

.scale-up-width {
  width: 280px !important;
}

.scale-up-margin {
  margin-left: 280px !important;
}

.scale-down-width {
  width: 50px i !important;
}

.scale-down-margin {
  margin-left: 50px !important;
}

.currency-sign {
  color: #333533c9;
  font-weight: 500;
  /* display: none; */
}

.btn-qty {
  padding: 0 !important;
  height: 20px !important;
  width: 20px !important;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-qty--plus {
  background-color: #1db47f;
}

.btn-qty--minus {
  background-color: #1db47f;
}

/* Datatables */
.page-item.active .page-link {
  background-color: #1db47f !important;
  border-color: #1db47f !important;
  color: #fff !important;
}

.page-link {
  color: #1db47f !important;
}

/* ----- */
.navigation {
  background-color: #161a1f;
  color: #f4f4f4;
  height: 50px;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* flexbox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .brand-name {
  font-size: 20px;
  height: 100%;
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Merienda', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.navigation .brand-name .menu-icon-bar {
  margin-top: 20px;
}

.navigation .brand-name .menu-icon-bar:hover .line-1,
.navigation .brand-name .menu-icon-bar:hover .line-3 {
  width: 25px;
}

.navigation .brand-name .line {
  height: 2px;
  width: 25px;
  background-color: #fff;
  margin-bottom: 6px;
}

.navigation .brand-name .line-1,
.navigation .brand-name .line-3 {
  width: 18px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation .brand-name a {
  text-decoration: none;
  color: #fff;
}

.navigation .brand-name .jollychef-text {
  padding-left: 2rem;
  color: #a3deb1;
}

.navigation .user-info,
.navigation .user-logout-container {
  width: auto;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .user-info .navbar-date {
  margin-right: 13px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
}

.navigation .user-logout-container {
  padding-right: 0.8rem;
}

.navigation .user-logout-container .user-profile-pic {
  width: 2rem;
  height: 2rem;
  background-color: #000;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.navigation .user-logout-container p {
  margin: 0;
}

.navigation .user-logout-container .navbar--user-info {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-top: 5px;
}

.navigation .user-logout-container .navbar--user-info .user-logout-btn {
  cursor: pointer;
  background-color: #252f3a;
  color: #fff;
  margin-left: 0.8rem;
}

.navigation .user-logout-container .navbar--user-info .user-logout-btn:hover {
  cursor: pointer;
  color: #f4ea8e;
}

.sidebar {
  margin-top: 50px;
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: 'Segoe UI', 'Roboto', 'sans-serif';
  background-color: #168860;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  padding-top: 35px;
  white-space: nowrap;
}

.sidebar .main-menus--items {
  margin-left: 0.55rem;
  padding-bottom: 28px;
  text-decoration: none;
  font-size: 16px;
  color: #f6f6f6;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.sidebar .main-menus--items .icon-container {
  display: inline-block;
  width: 60px;
}

.sidebar .main-menus--items .icon-container .sidebar-icons {
  padding-bottom: 3px;
  font-size: 1.3rem;
  padding-left: 2px;
}

.sidebar .main-menus--items .icon-text {
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar .main-menus--items:hover,
.sidebar .sidebar-label:hover {
  color: #363f4d;
}

.sidebar .sidebar-label {
  margin: 0;
  color: #f6f6f6;
}

.sidebar .sidebar-icons,
.sidebar .icon-text {
  vertical-align: middle;
}

.sidebar .checkbox {
  display: none;
}

.sidebar .checkbox:checked ~ .checked-items {
  max-height: 30rem;
}

.sidebar .checkbox-receivables {
  display: none;
}

.sidebar .checkbox-receivables:checked ~ .checked-items--receivables {
  max-height: 30rem;
}

.sidebar .checked-items,
.sidebar .checked-items--receivables {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  padding-left: 20px;
}

.sidebar .checked-items a,
.sidebar .checked-items--receivables a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding-left: 55px;
  margin-bottom: 15px;
  position: relative;
  color: #f4f4f4;
}

.sidebar .checked-items a:hover,
.sidebar .checked-items--receivables a:hover {
  text-decoration: none;
  color: #363f4d;
}

.line-1-anim {
  width: 2.5rem;
  -webkit-transform: rotate(-405deg) translate(-5px, 6px);
          transform: rotate(-405deg) translate(-5px, 6px);
}

.line-2-anim {
  -webkit-animation: fade 0.3s both;
          animation: fade 0.3s both;
}

.line-3-anim {
  width: 2.5rem;
  -webkit-transform: rotate(405deg) translate(-5px, -6px);
          transform: rotate(405deg) translate(-5px, -6px);
}

#main {
  margin-left: 50px;
  padding-top: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-height: 100vh;
  background-color: #fff;
}

#main .main-heading--container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .main-heading--container {
  margin-top: 4rem;
}

#main .main-heading--text {
  font-family: 'Kulim Park', sans-serif;
}

.footer {
  color: #fff;
  background-color: #252f3a;
  font-size: 16px;
  padding: 25px 0 20px 0;
  margin-top: 10rem;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-media {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .email {
  color: #ace0ce;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 10px;
  border-radius: 5px;
}

.footer .email:hover {
  color: #3fffc5;
  cursor: pointer;
}

.footer__social-media a {
  color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__social-media a:hover {
  color: #fff;
  -webkit-transform: scale(2.1);
          transform: scale(2.1);
}

.footer__social-media i {
  font-size: 18px;
}

.fa-twitter,
.fa-facebook,
.fa-instagram {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.fa-twitter {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fa-facebook {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.fa-instagram {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

@-webkit-keyframes rotate {
  0% {
    /* color: aqua; */
    color: #3cffbd;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    /* color: aquamarine; */
    color: #43ffcb;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    /* color: aquamarine; */
    color: #45e6ad;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    /* color: aqua; */
    color: #3fffc5;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    /* color: aqua; */
    color: #3cffbd;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    /* color: aquamarine; */
    color: #43ffcb;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    /* color: aquamarine; */
    color: #45e6ad;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    /* color: aqua; */
    color: #3fffc5;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes popupDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popupDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: translate(-15px);
            transform: translate(-15px);
    opacity: 0.25;
  }
  100% {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
    opacity: 0.5;
  }
  75% {
    -webkit-transform: translate(-15px);
            transform: translate(-15px);
    opacity: 0.25;
  }
  100% {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */